<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michael Atkins | Developer</title>
    <link rel="stylesheet" href="/assets/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
     <a href="home.html" id="logo">
        <h1>Michael Atkins</h1>
        <h2>Developer</h2>
       </a>
       <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
         </ul>
      </nav>
      </header>
    <div id="wrapper">

      <footer>
        <a href="http://twitter.com/atkinsm1212"><img src="/assets/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/michael.atkins.3939"><img src="/assets/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
       <p>&copy; 2015 Michael Atkins.</p>

    </footer>
      </div>
    </body>
</html>